:root {
  --sjs-base-unit: 8px;
  --base-unit: 8px;
  --sjs-transition-duration: 150ms;

}

.degree {
  margin-right: 10px;
}

.table_boiler {
  width: 300px;
  margin-right: 10px;
}

.width_lable {
  height: 25px;
}
.error {
  color: red;
  font-size: 0.8em;
  margin-top: 2px;
  
}

label {
  display: flex;
  margin-bottom: 10px;
}
.quest{
  margin-bottom: 10px;
}
.img_choos {
  display: flex;
  flex-direction: column;
}

.group_img {
  display: flex;
  margin-bottom: 30px;
}
.img_size {
  width: 200px;
}

.img_size_2 {
  width: 450px;
}

.img_right {
  display: flex;
  justify-content: space-between;
}

.img_border {
  border: #cecece 1px solid;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

button {
  width: 110px;
  height: 40px;
  margin-right: 20px;
  margin-top: 30px;
}

input[type="radio"] {
    /* Скрываем стандартные стили */
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%; /* Круглая форма */
    background-color: #fff;
    cursor: pointer;
    outline: none;
    margin-right: 8px;
    margin-top: 2px;
}

input[type="radio"]:checked {
    background-color: #ffffff; /* Зеленый фон при выборе */
    border-color: #b8b8b8;
}

/* Точка внутри */
input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #b35100; /* Белая точка */
    margin: 3px auto;
}
/* Hover: работает независимо */
input[type="radio"]:hover {
  border-color: #b35100 !important;

}

